antlr4-python3-runtime==4.13.0
antlr4-tools==0.2
build==1.0.3
cairocffi==1.6.1
CairoSVG==2.7.1
cleo==2.1.0
cssselect2==0.7.0
defusedxml==0.7.1
distlib==0.3.7
imageio==2.34.0
lxml==5.1.0
numpy==1.26.4
pip-autoremove==0.10.0
pip-check==2.8.1
pipdeptree==2.16.1
pipenv==2023.12.1
pkginfo==1.9.6
platformdirs==3.11.0
poetry==1.8.1
poetry-core==1.9.0
poetry-plugin-export==1.6.0
ptyprocess==0.7.0
pyproject_hooks==1.0.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt5-stubs==5.15.6.0
rapidfuzz==3.5.2
requests==2.31.0
requests-toolbelt==1.0.0
virtualenv==20.25.1
